<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
    />
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
    ></script>
    <title>Actor Page</title>
</head>
<body>
<div class="container">
    <nav
            class="navbar navbar-expand-lg navbar-light bg-light"
            style="padding-bottom: 20px"
    >
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/home}" >Actor List</a>
        </div>
        <div><a type="button" class="btn btn-success"
                     style="margin-right: 190px;"
                     th:href="@{/add}"
        >
            Add Actor</a></div>
    </nav>
<table>
    <thead>
    <tr>
        <th> First Name </th>
        <th> Last Name </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${actors.empty}">
        <td colspan="2"> No Actors Available </td>
    </tr>
    <tr th:each="actors : ${actors}">
        <td><span th:text="${actors.firstName}"> First Name </span></td>
        <td><span th:text="${actors.lastName}"> Last Name </span></td>
        <td><button type="button" class="btn btn-primary" style="margin-right: 20px; margin-left: 650px;">Edit</button></td>
        <td><button type="button" class="btn btn-danger">Delete</button></td>
    </tr>
    </tbody>
</table>

</div>

</body>
</html>